html {
  font-size: 1px;
}
body {
  font-family: iconfont;
  font-size: 12rem;
  color: #333;
  box-sizing: border-box;
}
@font-face {
  font-family: "iconfont"; /* Project id 3201111 */
  src: url("//at.alicdn.com/t/font_3201111_tox4rs782z.woff2?t=1646278820812") format("woff2"),
    url("//at.alicdn.com/t/font_3201111_tox4rs782z.woff?t=1646278820812") format("woff"),
    url("//at.alicdn.com/t/font_3201111_tox4rs782z.ttf?t=1646278820812") format("truetype");
}
