*{
  box-sizing: border-box;
}
html {
  font-size: 0.26666vw;
}
body {
  font-family: iconfont;
  font-size: 12rem;
  color: #333;
}
input{
  outline: none;
  border: none;
}
button{
  border: none;
}
@font-face {
  font-family: 'iconfont';  /* Project id 3201111 */
  src: url('//at.alicdn.com/t/font_3201111_5mx85pyrwlx.woff2?t=1649384140407') format('woff2'),
       url('//at.alicdn.com/t/font_3201111_5mx85pyrwlx.woff?t=1649384140407') format('woff'),
       url('//at.alicdn.com/t/font_3201111_5mx85pyrwlx.ttf?t=1649384140407') format('truetype');
}
